@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Red Hat Display", sans-serif;
}

:root {
  --color-primary: "";
  --color-secondary: "";
  --color-accent: "";
  --color-neutral: "";
  --color-success: "";
  --color-warning: "";
  --color-danger: "";
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #aca7a4;
  border-radius: 25px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e3d8d2;
  border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(105, 105, 105)8d2;
}
