@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Red Hat Display", sans-serif;
}

:root {
  --color-primary: "";
  --color-secondary: "";
  --color-accent: "";
  --color-neutral: "";
  --color-success: "";
  --color-warning: "";
  --color-danger: "";
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #aca7a4;
  border-radius: 25px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e3d8d2;
  border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(105, 105, 105) 8d2;
}

.StyledReceipt {
  background: linear-gradient(
    0deg,
    #ebe9e9,
    #fdfdfd,
    #fdfdfd,
    #fdfdfd,
    #fdfdfd,
    #fdfdfd,
    #ffffff,
    #ffffff,
    #ffffff
  );
  padding: 1rem 1rem 2rem;
  --mask: conic-gradient(
      from -45deg at bottom,
      #0000,
      #000 1deg 89deg,
      #0000 90deg
    )
    50%/30px 100%;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}
